
.active-like {
    color: rgb(52, 157, 48);
    border-width:0;
    background-color: #fffafa00;
}

.active-dislike {
    color: darkred;
    border-width:0;
    background-color: #fffafa00;
}

.inactive {
    color: rgb(177, 177, 177);
    border-width:0;
    background-color: #fffafa00;
}
