
.name-format {
    font-weight: bold;
}

.post-format {
    margin-left: .5em;
    margin-right: .5em;
}

.icon-format {
    display: flex;
    justify-content: flex-end;
}

.post-style {
    font-style: italic;
    font-size: smaller;
}