
.head-style {
    height: 50px;
    margin-bottom: 10px;
    border-bottom: inset;
    display: flex;
    align-items: flex-end;
}

.title-style {
    margin-left: 30px;
    font-size: large;
    margin-bottom: .65em;
}