
.border-box {
    border: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 1em;
    background-color: white;
    margin: .5em;
    padding: 1em;
    min-width: 650px;
    max-width: 650px;
    border-style: none;
    border-bottom: inset;
}

.body-style {
    background-color: rgb(197, 218, 197);
}

.header-style {
    position: sticky;
    background-color: white;
    display: block;
}

.container-fluid {
    display: grid;
    justify-items: center;
}